<header class="header">
    <div class="header-lib">
         <div class="header__naviganion">
        <nav>
          <a href="" class="logo"><svg width="24" height="24">
              <use href="/src/images/icons.svg#film"></use>
            </svg>
            <p class="header__logo">Filmoteka</p>
          </a>

        <ul class="header__navigation-list">
          <li class="header__navigation-item">
            <a href="/src/index.html" class="header__navigation-link">Home</a>
          </li>
          <li class="header__navigation-item">
            <a href="/src/library.html" class="header__navigation-link current__underline">My library</a> </li>   
        </ul>
      </nav>


      <div class="search__field">
      <form class="form" autocomplete="off">
        <input
          class="search__input"
          type="text"
          name="login"
          placeholder="Movie search" />

        <button class="search_btn" type="submit">
          <svg width="12" height="12">
            <use class="search__icon" href="/src/images/icons.svg#search"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</header>