<header class="header__lb">
    <div class="header__lib">
         <div class="">
        <lb>
          <a href="" class="header__logo"><svg width="24" height="24">
              <use href="/src/images/icons.svg#film"></use>
            </svg>
            <p class="header__title">Filmoteka</p>
          </a>
<div class="header__lb-menu">
<ul class="header__lb-list">
          <li class="header__lb-item">
            <a href="/src/index.html" class="header__lb-link">Home</a>
          </li>
          <li class="header__lb-item">
            <a href="/src/library.html" class="header__lb-link current__underline">My library</a> </li>   
        </ul>
</div>
        
      </lb>

<div class="header-btn__conteiner">
    <button class="header-btn  watched active" type="button">Watched</button>
    <button class="header-btn header-btn__queue queue" type="button">queue</button>
  </div> 





    </div>
</header>