<div class="backdrop is-hidden">
    <div class="modal-movie">
      <button class="modal__close-movie-btn" type="button">
        <svg class="modal__close-movie-icon" width="14" height="14">
          <!-- <use href="./images/symbol-defs.svg#icon-arrow-up"></use> -->
        </svg>
      </button>
        <div class="modal__container">
        <img class="modal__image" src="https://klike.net/1706-skachat-kartinki-horoshego-kachestva-50-foto.html" alt="" width="240" height="357">
        <div class="modal__info-box">
          <p class="modal__title">Title</p>
            <div class="modal__features-box">
               <div class="modal__features-issues">
                 <p class="modal__keys">Vote / Votes</p>
                 <div class="modal__values-box">
                 <p class="modal__value-numbers modal__value-numbers--accent">7.3</p><span class="modal__slash">/</span><p class="modal__value-numbers modal__value-numbers--simple">5</p>
                </div>
               </div>
               <div class="modal__features-issues">
                 <p class="modal__keys">Popularity</p>
                 <p class="modal__value-numbers">7.3</p>
               </div>
               <div class="modal__features-issues">
                 <p class="modal__keys">Original Title</p>
                 <p class="modal__value-text modal__value--main-text">Original Title</p>
               </div>
               <div class="modal__features-issues">
                 <p class="modal__keys">Genre</p>
                 <p class="modal__value-text">Genre</p>
               </div>
           </div>
        <p class="modal__about-title">About</p>
        <p class="modal__about-text">Text</p>
        <div class="modal__bottom-thumb">
          <div class="modal__btn-box">
            <button class='modal__btn' type="button">add to watched</button>
            <button class='modal__btn' type="button">add to queue</button>
          </div>
        </div>      
      </div>     
      </div>  
      </div>
    </div>