.header__lb {
  margin-left: auto;
  margin-right: auto;

  max-width: 320px;
  min-height: 230px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(/src/images/lib-320.jpg);
  background-color: #000000;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

   @media screen and (min-width: 768px){
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(/src/images/lib-768.jpg);
      max-width: 768px;
       min-height: 219px;
 
   }

    @media screen and (min-width: 1280px) {
         background-images: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(/src/images/lib-1280.jpg);
        max-width:1280px;
         min-height: 216px;
   }
    
}
.header__lib{
 display: grid ;
 grid-row: 
 'logo title menu'
 'btn btn';


    //  display: flex;
    // justify-content: space-between;
    // align-items: baseline
}


  .header__logo{
grid-area: logo ;

margin-top: 42px;
margin-left: 22px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-top: 47px;
  margin-left: 34px;
  }}

.header__title {
grid-area: title;

  font-size: 30px;
  color: #ffffff;
  line-height: 1.17;
  font-weight: 500;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 8px;
  }
}
 .header__lb-menu{
     grid-area: menu;
 }

.header__lb-link {
 color: #ffffff;
  line-height: 1.17;
  text-transform: uppercase;
  margin-top: 44px;

}

.header__lb-item {
  margin-left: 40px;
  
}

.header-btn__conteiner {
  grid-area: btn;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 124px;
}
.header-btn {
  width: 136px;
  height: 44px;
  background-color: transparent;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.header-btn:hover,
.header-btn:focus,
.header-btn.active {
  transition: 0.2s;
  background-color: #FF6B01;
  border-color: #FF6B01;
  box-shadow: 0 7px 35px rgb(255, 140, 8);
  transition: box-shadow 0.2s ease-in-out;
}

.header-btn.header-btn--current {
  background-color: #FF6B01;
  border-color: transparent;
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}
.header-btn__queue {
  margin-left: 19px;
}
@media screen and (min-width: 768px) {
  .header-btn__queue {
    margin-left: 15px;
  }
}


